* {
	font-family: century;
	border: 1px solid red;
}

header {
	height: 82px;
}

h1 {
	margin: 0px 0px;
	position: relative;
	top: 21.44px;
}

ul {
    padding: 0px 0px;
	margin: 0px 0px;
	position: relative;
	top: 32px;
}	

li {
	display: inline-block;
	padding: 0px 40px;
}

#name {
	display: inline-block;
	height: 82px;
	text-align: center;
	width: 700px;
}

#link-content {
	display: inline-block;
	height: 82px;
	position: relative;
	bottom: 15.998px;
	text-align: center;
	width: 1189.55px;
}