* {
	font-family: century;
	background-color: black;
}

header {
	height: 82px;
	width: 1925px;
}

h1 {
	margin: 0px 0px;
	position: relative;
	top: 21.44px;
	color: white;
	background-color: #414141;
}

strong {
	background-color: #414141;
}

ul {
    padding: 0px 0px;
	margin: 0px 0px;
	position: relative;
	top: 32px;
	background-color: #ece8f0;
}	

li {
	display: inline-block;
	padding: 0px 90px;
	background-color: #ece8f0;
}

#name {
	display: inline-block;
	height: 82px;
	text-align: center;
	width: 700px;
	background-color: #414141;
	position: relative;
	right: 7.8px;
	bottom: 6.7px;
}

#link-content {
	display: inline-block;
	height: 82px;
	position: relative;
	bottom: 22.698px;
	right: 11px;
	text-align: center;
	width: 1220px;
	background-color: #ece8f0;
}

main {
	margin: 100px 320px 20px;
	display: flex;
	padding: 40px 40px;
	background-color: white;
}

p {
	font-size: 20px;
	margin: 0px 0px;
	width: 300px;
	padding-left: 173px;
	text-align: center;
	background-color: white;
}

img {
	height: 250px;
	width: 200px;
	background-color: white;
}

.centering {
	position: relative;
	left: 223px;
}